@import "bourbon";
@import "pod-styles";

.repo-nav {
  list-style: none;
  li {
    display: inline-block;
    a {
      font-weight: thin;
      text-decoration: none;
    }
    a.active {
      font-weight: bolder;
      text-decoration: underline;
    }
  }
}

.grey-text{
  color: #999;
}