<h2>My Fav Orgs</h2>


<ul>
    {{#each model as |org|}}
        <li>
            {{github-org org=org on-fav-clicked="favoriteClick"}}
        </li>
    {{/each}}
</ul>

{{!-- Unable to get data- attributeBindings working --}}
{{social-info 
    name="Nick McCready"
    twitter="nmccready"
    github="nmccready"
    on-link-toggle="linkToggled"}}

{{outlet}}