<div class="notfound-stranger-things">
    <section>
        <div class="centered-text-area">
            <hr class="top">
            <h1 class="top-text">
                <span class="bigger-letter">S</span>
                <span>TRANGE</span>
                <span class="bigger-letter">R</span>
            </h1>
            <div class="bottom-text">
                <hr class="inline">
                <h1>404</h1>
                <hr class="inline">
            </div>
    
            <p>
                Woah, you rolled a 404 and the Demogorgan came out to eat the page you were looking for. Looks like your party needs to go
                back and look for the page again.
            </p>
        </div>
    </section>
</div>
