{{link-to repo.name 'org.repo.issues' repo.name}}

<span class="grey-text" crap="s">(
  Fork Count: {{nice-number repo.forks_count "0.0 a"}},
  Watchers Count: {{nice-number repo.watchers_count "0.0 a"}}
)
</span>

{{yield}}